<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>subSection</string>
		<key>file</key>
		<string>randomoctagonsection1</string>
	</dict>
	<dict>
		<key>type</key>
		<string>subSection</string>
		<key>file</key>
		<string>randomoctagonsection2</string>
	</dict>
	<dict>
		<key>type</key>
		<string>subSection</string>
		<key>file</key>
		<string>randomoctagonsection3</string>
	</dict>
	<dict>
		<key>type</key>
		<string>moving</string>
		<key>colour</key>
		<string>primary</string>
		<key>vectors</key>
		<string>triangleLeft</string>
		<key>size</key>
		<array>
			<real>0.3</real>
			<real>0.1</real>
		</array>
		<key>fromPosition</key>
		<array>
			<real>0.3</real>
			<real>0.5</real>
		</array>
		<key>toPosition</key>
		<array>
			<real>0.16</real>
			<integer>0</integer>
		</array>
		<key>period</key>
		<real>2.5</real>
		<key>reverse</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>moving</string>
		<key>colour</key>
		<string>primary</string>
		<key>vectors</key>
		<string>triangleRight</string>
		<key>size</key>
		<array>
			<real>0.3</real>
			<real>0.1</real>
		</array>
		<key>fromPosition</key>
		<array>
			<real>-0.3</real>
			<integer>0</integer>
		</array>
		<key>toPosition</key>
		<array>
			<real>-0.16</real>
			<integer>0</integer>
		</array>
		<key>period</key>
		<real>2.5</real>
		<key>reverse</key>
		<true/>
	</dict>
	<dict>
		<key>type</key>
		<string>moving</string>
		<key>colour</key>
		<string>primary</string>
		<key>vectors</key>
		<string>triangleLeft</string>
		<key>size</key>
		<array>
			<real>0.3</real>
			<real>0.1</real>
		</array>
		<key>fromPosition</key>
		<array>
			<real>0.3</real>
			<real>0.5</real>
		</array>
		<key>toPosition</key>
		<array>
			<real>0.16</real>
			<integer>0</integer>
		</array>
		<key>period</key>
		<integer>2</integer>
		<key>reverse</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>moving</string>
		<key>colour</key>
		<string>primary</string>
		<key>vectors</key>
		<string>triangleRight</string>
		<key>size</key>
		<array>
			<real>0.3</real>
			<real>0.1</real>
		</array>
		<key>fromPosition</key>
		<array>
			<real>-0.3</real>
			<integer>0</integer>
		</array>
		<key>toPosition</key>
		<array>
			<real>-0.16</real>
			<integer>0</integer>
		</array>
		<key>period</key>
		<integer>2</integer>
		<key>reverse</key>
		<true/>
	</dict>
	<dict>
		<key>type</key>
		<string>moving</string>
		<key>colour</key>
		<string>primary</string>
		<key>vectors</key>
		<string>triangleLeft</string>
		<key>size</key>
		<array>
			<real>0.3</real>
			<real>0.1</real>
		</array>
		<key>fromPosition</key>
		<array>
			<real>0.3</real>
			<real>0.5</real>
		</array>
		<key>toPosition</key>
		<array>
			<real>0.16</real>
			<integer>0</integer>
		</array>
		<key>period</key>
		<real>1.5</real>
		<key>reverse</key>
		<false/>
	</dict>
	<dict>
		<key>type</key>
		<string>moving</string>
		<key>colour</key>
		<string>primary</string>
		<key>vectors</key>
		<string>triangleRight</string>
		<key>size</key>
		<array>
			<real>0.3</real>
			<real>0.1</real>
		</array>
		<key>fromPosition</key>
		<array>
			<real>-0.3</real>
			<integer>0</integer>
		</array>
		<key>toPosition</key>
		<array>
			<real>-0.16</real>
			<integer>0</integer>
		</array>
		<key>period</key>
		<real>1.5</real>
		<key>reverse</key>
		<true/>
	</dict>
	<dict>
		<key>type</key>
		<string>finishLine</string>
		<key>colour</key>
		<string>primary</string>
		<key>vectors</key>
		<string>rect</string>
		<key>size</key>
		<array>
			<integer>1</integer>
			<real>0.1</real>
		</array>
		<key>position</key>
		<array>
			<integer>0</integer>
			<real>0.5</real>
		</array>
	</dict>
</array>
</plist>
