<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>static</string>
		<key>colour</key>
		<string>primary</string>
		<key>vectors</key>
		<string>rect</string>
		<key>size</key>
		<array>
			<real>0.1</real>
			<real>0.1</real>
		</array>
		<key>position</key>
		<array>
			<integer>0</integer>
			<real>0.15</real>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>static</string>
		<key>colour</key>
		<string>primary</string>
		<key>vectors</key>
		<string>rect</string>
		<key>size</key>
		<array>
			<real>0.1</real>
			<real>0.1</real>
		</array>
		<key>position</key>
		<array>
			<integer>0</integer>
			<real>0.15</real>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>static</string>
		<key>colour</key>
		<string>primary</string>
		<key>vectors</key>
		<string>rect</string>
		<key>size</key>
		<array>
			<real>0.1</real>
			<real>0.1</real>
		</array>
		<key>position</key>
		<array>
			<integer>0</integer>
			<real>0.15</real>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>static</string>
		<key>colour</key>
		<string>primary</string>
		<key>vectors</key>
		<string>rect</string>
		<key>size</key>
		<array>
			<real>0.1</real>
			<real>0.1</real>
		</array>
		<key>position</key>
		<array>
			<integer>0</integer>
			<real>0.15</real>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>moving</string>
		<key>colour</key>
		<string>primary</string>
		<key>vectors</key>
		<string>rect</string>
		<key>size</key>
		<array>
			<real>0.1</real>
			<real>0.1</real>
		</array>
		<key>fromPosition</key>
		<array>
			<real>-0.4</real>
			<real>0.15</real>
		</array>
		<key>toPosition</key>
		<array>
			<real>0.4</real>
			<integer>0</integer>
		</array>
		<key>period</key>
		<integer>3</integer>
		<key>reverse</key>
		<false/>
	</dict>
</array>
</plist>
