<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>move</string>
		<key>colour</key>
		<string>primary</string>
		<key>vectors</key>
		<string>rect</string>
		<key>size</key>
		<array>
			<real>0.05</real>
			<real>0.05</real>
		</array>
		<key>fromPosition</key>
		<array>
			<integer>0</integer>
			<real>0.5</real>
		</array>
		<key>toPosition</key>
		<array>
			<real>-0.4</real>
			<integer>0</integer>
		</array>
		<key>period</key>
		<real>0.25</real>
	</dict>
	<dict>
		<key>type</key>
		<string>move</string>
		<key>colour</key>
		<string>primary</string>
		<key>vectors</key>
		<string>rect</string>
		<key>size</key>
		<array>
			<real>0.05</real>
			<real>0.05</real>
		</array>
		<key>fromPosition</key>
		<array>
			<integer>0</integer>
			<real>0.05</real>
		</array>
		<key>toPosition</key>
		<array>
			<real>0.3</real>
			<integer>0</integer>
		</array>
		<key>period</key>
		<real>0.25</real>
	</dict>
	<dict>
		<key>type</key>
		<string>move</string>
		<key>colour</key>
		<string>primary</string>
		<key>vectors</key>
		<string>rect</string>
		<key>size</key>
		<array>
			<real>0.05</real>
			<real>0.05</real>
		</array>
		<key>fromPosition</key>
		<array>
			<integer>0</integer>
			<real>0.05</real>
		</array>
		<key>toPosition</key>
		<array>
			<real>0.1</real>
			<integer>0</integer>
		</array>
		<key>period</key>
		<real>0.25</real>
	</dict>
	<dict>
		<key>type</key>
		<string>move</string>
		<key>colour</key>
		<string>primary</string>
		<key>vectors</key>
		<string>rect</string>
		<key>size</key>
		<array>
			<real>0.05</real>
			<real>0.05</real>
		</array>
		<key>fromPosition</key>
		<array>
			<integer>0</integer>
			<real>0.05</real>
		</array>
		<key>toPosition</key>
		<array>
			<real>-0.2</real>
			<integer>0</integer>
		</array>
		<key>period</key>
		<real>0.25</real>
	</dict>
	<dict>
		<key>type</key>
		<string>move</string>
		<key>colour</key>
		<string>primary</string>
		<key>vectors</key>
		<string>rect</string>
		<key>size</key>
		<array>
			<real>0.05</real>
			<real>0.05</real>
		</array>
		<key>fromPosition</key>
		<array>
			<real>0.3</real>
			<real>0.5</real>
		</array>
		<key>toPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>period</key>
		<real>0.25</real>
	</dict>
	<dict>
		<key>type</key>
		<string>move</string>
		<key>colour</key>
		<string>primary</string>
		<key>vectors</key>
		<string>rect</string>
		<key>size</key>
		<array>
			<real>0.05</real>
			<real>0.05</real>
		</array>
		<key>fromPosition</key>
		<array>
			<real>0.3</real>
			<real>0.05</real>
		</array>
		<key>toPosition</key>
		<array>
			<real>0.4</real>
			<integer>0</integer>
		</array>
		<key>period</key>
		<real>0.25</real>
	</dict>
	<dict>
		<key>type</key>
		<string>move</string>
		<key>colour</key>
		<string>primary</string>
		<key>vectors</key>
		<string>rect</string>
		<key>size</key>
		<array>
			<real>0.05</real>
			<real>0.05</real>
		</array>
		<key>fromPosition</key>
		<array>
			<real>0.3</real>
			<real>0.05</real>
		</array>
		<key>toPosition</key>
		<array>
			<real>-0.3</real>
			<integer>0</integer>
		</array>
		<key>period</key>
		<real>0.25</real>
	</dict>
	<dict>
		<key>type</key>
		<string>move</string>
		<key>colour</key>
		<string>primary</string>
		<key>vectors</key>
		<string>rect</string>
		<key>size</key>
		<array>
			<real>0.05</real>
			<real>0.05</real>
		</array>
		<key>fromPosition</key>
		<array>
			<real>0.3</real>
			<real>0.05</real>
		</array>
		<key>toPosition</key>
		<array>
			<real>-0.2</real>
			<integer>0</integer>
		</array>
		<key>period</key>
		<real>0.25</real>
	</dict>
	<dict>
		<key>type</key>
		<string>move</string>
		<key>colour</key>
		<string>primary</string>
		<key>vectors</key>
		<string>rect</string>
		<key>size</key>
		<array>
			<real>0.05</real>
			<real>0.05</real>
		</array>
		<key>fromPosition</key>
		<array>
			<real>-0.4</real>
			<real>0.5</real>
		</array>
		<key>toPosition</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>period</key>
		<real>0.25</real>
	</dict>
	<dict>
		<key>type</key>
		<string>move</string>
		<key>colour</key>
		<string>primary</string>
		<key>vectors</key>
		<string>rect</string>
		<key>size</key>
		<array>
			<real>0.05</real>
			<real>0.05</real>
		</array>
		<key>fromPosition</key>
		<array>
			<real>-0.4</real>
			<real>0.05</real>
		</array>
		<key>toPosition</key>
		<array>
			<real>0.4</real>
			<integer>0</integer>
		</array>
		<key>period</key>
		<real>0.25</real>
	</dict>
	<dict>
		<key>type</key>
		<string>move</string>
		<key>colour</key>
		<string>primary</string>
		<key>vectors</key>
		<string>rect</string>
		<key>size</key>
		<array>
			<real>0.05</real>
			<real>0.05</real>
		</array>
		<key>fromPosition</key>
		<array>
			<real>-0.4</real>
			<real>0.05</real>
		</array>
		<key>toPosition</key>
		<array>
			<real>-0.1</real>
			<integer>0</integer>
		</array>
		<key>period</key>
		<real>0.25</real>
	</dict>
	<dict>
		<key>type</key>
		<string>move</string>
		<key>colour</key>
		<string>primary</string>
		<key>vectors</key>
		<string>rect</string>
		<key>size</key>
		<array>
			<real>0.05</real>
			<real>0.05</real>
		</array>
		<key>fromPosition</key>
		<array>
			<real>-0.4</real>
			<real>0.05</real>
		</array>
		<key>toPosition</key>
		<array>
			<real>0.2</real>
			<integer>0</integer>
		</array>
		<key>period</key>
		<real>0.25</real>
	</dict>
</array>
</plist>
